/* app css stylesheet */

body { 
  background-image: url('../img/cream_pixels.png');
  background-size: 100px;
  padding-bottom: 150px;
}

a,
p {
  font-size: 17px;
  line-height: 21px;
}

#nameHeader {
  background-color: #F4F4F6;
  opacity: 90%;
}

/* Disable default link hover behavior */ 
.main a:hover,
.main a:focus {
  text-decoration: none;
  color: #111111;
}

.proj-name {
  color: #303648;
}

#title {
  color: #50383A;
  font-size: 44px;
  line-height: 4px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 12px;
}

.subHeading {
  color: #50383A;
}

/* Contact Icons: */
.icon {
  color: #3C4644;
}

.icon:hover,
.icon:focus {
  color: #2C3634;
}
